<nav class="navbar navbar-default navbar-fixed-top navbar-bootsnipp animate" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/img/library.svg" alt="Library Online"> <span>Library <b>Online</b></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="homePage" class="active">
                    <a routerLink="/home"  routerLinkActive="active-link"><i class="glyphicon glyphicon-home"></i> Home</a>
                </li>
                <li id="categoryPage">
                    <a routerLink="/categorys"  routerLinkActive="active-link"><i class="glyphicon glyphicon-list"></i> Category</a>
                </li>
                <li id="categoryPage">
                    <a routerLink="/categorys-type"  routerLinkActive="active-link"><i class="glyphicon glyphicon-tags"></i> Category type</a>
                </li>
                <li id="openLibrary">
                    <a routerLink="/openlibrary"  routerLinkActive="active-link"><i class="glyphicon glyphicon-book"></i> Open library</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


