<div class="container">
    <h3>View all categorys types</h3>
    <p>if you want to ask/desk sort the category types, click on "Category Type Name"</p>
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12 text-left">
                    <button type="button" class="k-button k-grid-add-command" (click)="addFormInput()">Create New Type</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center width-index">#</th>
                        <th>
                            <a (click)="orderBy('name')" class="order-link">Category Name
                                <span *ngIf="iconOrderBy('name',true)">A .. Z</span>
                                <span *ngIf="iconOrderBy('name',false)">Z .. A</span>
                            </a>
                        </th>
                        <th class="width-action">Action</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Input name category type">
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoryTypeItem of pagedItems | searchpipe : searchText:0 let i = index" #catEditRow>
                        <td class="text-center">
                            {{(pager.currentPage-1)*10+i+1}}
                        </td>
                        <td>
                            <span *ngIf="!isDisplay(i)">{{categoryTypeItem.name}}</span>
                            <input *ngIf="isDisplay(i)" class="form-control" type="text" #catName value="{{categoryTypeItem.name}}" name="newAttributeName"/>
                        </td>
                        <td>
                            <button *ngIf="!isDisplay(i)" (click)="toggleEdit(i)" class="k-button k-grid-edit-command">Edit</button>
                            <button *ngIf="!isDisplay(i)" (click)="toggleDelete(i)" class="k-button k-grid-remove-command">Remove</button>
                            <button *ngIf="isDisplay(i)" (click)="toggleSave(i)" class="k-button k-grid-save-command">Save</button>
                            <button *ngIf="isDisplay(i)" (click)="toggleEdit(i,false)" class="k-button k-grid-cancel-command">Cancel</button>
                        </td>
                    </tr>
                    <ng-template [ngIf]="addNewItem">
                        <tr>
                            <td colspan="2">
                                <input class="form-control" #catName type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName"/>
                            </td>
                            <td>
                                <button class="k-button k-grid-save-command" (click)="toggleAdd()">Add</button>
                                <button class="k-button k-grid-cancel-command" (click)="cancelFieldValue()">Cancel</button>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-8">
                    <ul class="pagination" *ngIf="pager.totalPages>1">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">«</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">»</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-xs-4">
                    <div *ngIf="pager.totalPages>1">Page {{pager.currentPage}} of {{pager.totalPages}}</div>
                    <div>Show : [{{pager.startIndex+1}} - {{pager.endIndex+1}}] items of {{pager.totalItems}}</div>
                </div>
            </div>
        </div>
    </div>
</div>