


#main .navbar-brand b,#main .navbar-nav>li>a:hover,#main .homecontent .btn.btn-primary,#main .active-link{
    color: #f96363;
}

#main .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid transparent;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.12);
}
    #main .navbar-brand{
        margin-right: 40px;
    }
        #main .navbar-brand img{
            width: 50px;
            display: inline-block;
            margin-right: 15px;
        }


    #main .navbar-nav>li>a {
        padding: 25px 27px;
        background: none;
    }

        #main .navbar-nav>li>a i{
            padding-right: 8px;
        }

#main .homecontent{
    background: linear-gradient(to right, #ffffff, #ffffff8c),url(../img/bg.jpg) no-repeat center center;
    background-size: 100%;
    height: 500px;
    padding: 190px 0 0 0;
    color: #252525;
}
    #main .homecontent h2{
        font-weight: bold;
    }
    #main .homecontent .btn, #main .error-page .btn{
        border-radius: 60px;
        padding: 10px 28px;
        margin: 30px 35px;
    }
        #main .homecontent .btn.btn-primary, #main .error-page .btn.btn-primary{
            background: none;
            color: #ff3939;
            border: 2px solid #f96363;
        }
            #main .homecontent .btn.btn-primary:hover, #main .error-page .btn.btn-primary:hover{
                background: #f96363;
                color:#fff;
            }




#main .error-page{
    text-align: center;
}
    #main .error-page h1{
        font-size: 15em;
        font-weight: bold;
        background: url("../img/bg.jpg") no-repeat;
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


#main .k-grid-add-command,#main .k-grid-save-command{
    border-radius: 60px;
    padding: 5px 20px;
    margin: 0;
    color: green;
    border: 2px solid green;
    background: none;
}
#main .k-grid-add-command:hover,#main .k-grid-save-command:hover{
    color: #fff;
    border: 2px solid green;
    background:  green;
}

#main .k-grid-edit-command{
    border-radius: 60px;
    padding: 5px 20px;
    margin: 0;
    color: #ff6c00;
    border: 2px solid #ff6c00;
    background: none;
}
#main .k-grid-edit-command:hover{
    color: #fff;
    border: 2px solid #ff6c00;
    background:  #ff6c00;
}

#main .k-grid-remove-command{
    border-radius: 60px;
    padding: 5px 20px;
    margin: 0;
    color: #ff3939;
    border: 2px solid #f96363;
    background: none;
}
#main .k-grid-remove-command:hover{
    color: #fff;
    background: #ff3939;
    border: 2px solid #f96363;
}


#main .k-grid-cancel-command:hover{
    
    color: #fff;
    border: 2px solid #f96363;
    background: #bf1313;
}
#main .k-grid-cancel-command{
    color: #fff;
    background: #ff3939;
    border: 2px solid #f96363;
    border-radius: 60px;
    padding: 5px 20px;
    margin: 0;
}