<nav-menu></nav-menu>
<div class="container-fuilde" routerLinkActive="active-link">
  <div class="row">
    <div id="main-section" class="col-sm-12 col-lg-12 col-xs-12 column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



