<table class="table table-bordered">
    <thead>
        <tr class="active">
            <th>Book image</th>
            <th>Book Name</th>
            <th>Book Author</th>
            <th>Section</th>
            <th>Row</th>
            <th>Year write</th>
            <th>Year print</th>
            <th>Tags</th>
            <th>Action</th>
            
        </tr> 
    </thead>
    <tbody>
        <tr>
            
            <td>
                <div *ngIf="viewImage" class="img-preview example-config">
                    <img [src]="viewImage.src" alt="image preview" />
                    
                </div>
                <input type="file" accept="image/*" (change)="changeFile($event)" placeholder="Upload image book" accept=".png,.jpg,.gif">
            </td>
            <td>
                <span *ngIf="!editFild">{{selectBook.name}}</span>
                <input  *ngIf="editFild" class="form-control" type="text" #bookItemName  value="{{selectBook.name}}"/>
            </td>
            <td>
                
                <span *ngIf="!editFild">{{selectBook.author}}</span>
                <input  *ngIf="editFild" class="form-control" type="text" #bookItemAuthor  value="{{selectBook.author}}"/>
            </td>
            <td>
               
                <span *ngIf="!editFild">{{selectBook.section}}</span>
                <input  *ngIf="editFild" class="form-control" type="text" #bookItemSection  value="{{selectBook.section}}"/>
            </td>
            <td>
                
                <span *ngIf="!editFild">{{selectBook.sectionrow}}</span>
                <input  *ngIf="editFild" class="form-control" type="text" #bookItemSectionRow  value="{{selectBook.sectionrow}}"/>
            </td>
            <td>
                
                <span *ngIf="!editFild">{{selectBook.yearcreate}}</span>
                <input  *ngIf="editFild" class="form-control" type="text" #bookItemYearCreate  value="{{selectBook.yearcreate}}"/>
            </td>
            <td>
               
                <span *ngIf="!editFild">{{selectBook.yearprint}}</span>
                <input  *ngIf="editFild" class="form-control" type="text" #bookItemYearPrint  value="{{selectBook.yearprint}}"/>
            </td>
            <td>
                <span *ngIf="!editFild">{{selectBook.tags}}</span>
                <input  *ngIf="editFild" class="form-control" type="text" #bookItemTags  value="{{selectBook.tags}}"/>

            </td>
            
            
            <td class="editable">
                <button *ngIf="!editFild" (click)="toggleEdit(i)"  class="k-button k-grid-edit-command">Edit</button>
                <button *ngIf="editFild" (click)="toggleSave(i)" class="k-button k-grid-save-command">Save</button>
                <button *ngIf="editFild" (click)="toggleEdit(i,false)" class="k-button k-grid-cancel-command">Cancel</button>
            </td>
           
        </tr>
    </tbody>
</table>

