<div class="container error-page">
    <h1>404</h1>
    <h3 class="font-bold">We couldn't find the page..</h3>
    <div class="error-desc">
        Sorry, but the page you are looking for was either not found or does not exist. <br/>
        Try refreshing the page or click the button below to go back to the Homepage.
        <div>
            <a routerLink="/home" class="btn btn-primary btn-lg"> Go back to Homepage </a>
        </div>
    </div>
</div>