/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 15px!important;
}
* {
    outline: none;
  }

  a {
    cursor: pointer;
  }
  
  select {
    width: 100%;
    padding: 8px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px 10px;
  }
  
  #main {
    .navbar {
      position: relative;
      min-height: 50px;
      margin-bottom: 20px;
      background: white;
      border: 1px solid transparent;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    }
    .navbar-brand {
      margin-right: 40px;
      img {
        width: 45px;
        display: inline-block;
        margin-right: 15px;
      }
    }
    .navbar-nav > li > a {
      padding: 25px 27px;
      background: none;
      i {
        padding-right: 8px;
      }
    }
    .homecontent {
      background: linear-gradient(to right, #ffffff, #ffffff8c), url("assets/img/bg.jpg") no-repeat center center;
      background-size: 100%;
      height: 500px;
      padding: 190px 0 0 0;
      color: #252525;
      h2 {
        font-weight: bold;
      }
      .btn {
        border-radius: 60px;
        padding: 10px 28px;
        margin: 30px 35px;
      }
    }
    .error-page .btn {
      border-radius: 60px;
      padding: 10px 28px;
      margin: 30px 35px;
    }
    .homecontent .btn.btn-primary {
      background: none;
      color: #ff3939;
      border: 2px solid #f96363;
      &:hover {
        background: #f96363;
        color: #fff !important;
      }
    }
    .error-page {
      text-align: center;
      h1 {
        font-size: 15em;
        font-weight: bold;
        background: url("assets/img/bg.jpg") no-repeat;
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .btn {
        border-radius: 60px;
        padding: 10px 28px;
        margin: 30px 35px;
        &.btn-primary {
          background: none;
          color: #ff3939;
          border: 2px solid #f96363;
          &:hover {
            background: #f96363;
            color: #fff;
          }
        }
      }
    }
    .navbar-brand b, .navbar-nav > li > a:hover, .homecontent .btn.btn-primary, .active-link {
      color: #f96363;
    }
    .order-link span {
      float: right;
    }
    .k-grid-add-command, .k-grid-save-command {
      border-radius: 60px;
      padding: 5px 20px;
      margin: 0;
      color: green;
      border: 2px solid green;
      background: none;
    }
    .k-grid-add-command:hover, .k-grid-save-command:hover {
      color: #fff;
      border: 2px solid green;
      background: green;
    }
    .k-grid-edit-command {
      border-radius: 60px;
      padding: 5px 20px;
      margin: 0;
      color: #ff6c00;
      border: 2px solid #ff6c00;
      background: none;
      &:hover {
        color: #fff;
        border: 2px solid #ff6c00;
        background: #ff6c00;
      }
    }
    .k-grid-remove-command {
      border-radius: 60px;
      padding: 5px 20px;
      margin: 0;
      color: #ff3939;
      border: 2px solid #f96363;
      background: none;
      &:hover {
        color: #fff;
        background: #ff3939;
        border: 2px solid #f96363;
      }
    }
    .k-grid-cancel-command {
      &:hover {
        color: #fff;
        border: 2px solid #f96363;
        background: #bf1313;
      }
      color: #fff;
      background: #ff3939;
      border: 2px solid #f96363;
      border-radius: 60px;
      padding: 5px 20px;
      margin: 0;
    }
    .pagination > .active > {
      a {
        color: #fff;
        background: #ff3939;
        border: 1px solid #f96363;
        cursor: pointer;
        &:focus, &:hover {
          color: #fff;
          background: #ff3939;
          border: 1px solid #f96363;
          cursor: pointer;
        }
      }
      span {
        color: #fff;
        background: #ff3939;
        border: 1px solid #f96363;
        cursor: pointer;
        &:focus, &:hover {
          color: #fff;
          background: #ff3939;
          border: 1px solid #f96363;
          cursor: pointer;
        }
      }
    }
    .img-preview {
      margin: 0px;
      padding: 0;
      top: 0;
    }
    .glyphicon-plus, .glyphicon-minus {
      cursor: pointer;
    }
    .img-preview img, .width-index {
      width: 100px;
    }
    .width-category, .width-action {
      width: 190px;
    }
  }