<div id="main-section-content" class="row text-center homecontent">
    <h2>Welcome to online library</h2>
    <div class="error-details">
        Welcome to the Online Library. A service dedicated to students of the University of London's Distance learning community.
        We provide online resources, professional support and guidance to all our students whenever, and from wherever they
        have chosen to study.
    </div>
    <div class="error-actions">
        <a routerLink="/categorys" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-list"></span>View categorys </a>
        <a routerLink="/openlibrary" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-book"></span>Open Library </a>
    </div>
</div>