<div class="container">
    <h3>View all book in the library</h3>
    <p>if you want to ask/desk sort the book, click on: "Book Name", "Book Author", "Section place" or "Row"</p>
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">

                <div class="col col-xs-12 text-left">
                    <button type="button" class="k-button k-grid-add-command" (click)="addFormInput()">Create New Book</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <!-- <table class="table table-bordered"> -->
                <thead>
                    <tr>
                        <th>
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        </th>
                        <th class="text-center width-index">#</th>
                        <th>
                            <a (click)="orderBy('name')" class="order-link">Book Name
                                <span *ngIf="iconOrderBy('name',true)">A .. Z</span>
                                <span *ngIf="iconOrderBy('name',false)">Z .. A</span>
                            </a>
                        </th>
                        <th>
                            <a (click)="orderBy('author')" class="order-link">Book Author
                                <span *ngIf="iconOrderBy('author',true)">A .. Z</span>
                                <span *ngIf="iconOrderBy('author',false)">Z .. A</span>
                            </a>
                        </th>
                        <th>
                            <a (click)="orderBy('section')" class="order-link">Section place
                                <span *ngIf="iconOrderBy('section',true)">A .. Z</span>
                                <span *ngIf="iconOrderBy('section',false)">Z .. A</span>
                            </a>
                        </th>
                        <th>
                            <a (click)="orderBy('row')" class="order-link">Row
                                <span *ngIf="iconOrderBy('row',true)">A .. Z</span>
                                <span *ngIf="iconOrderBy('row',false)">Z .. A</span>
                            </a>
                        </th>
                        <th class="width-category">Category</th>
                        <th class="width-action">Action</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input [(ngModel)]="searchName" type="text" class="form-control" placeholder="Input name book">
                        </td>
                        <td>
                            <input [(ngModel)]="searchAuthor" type="text" class="form-control" placeholder="Input name book">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let bookItem of pagedItems | searchpipe : searchName:searchAuthor:true let i = index">
                        <tr #bookEditRow>
                            <td>
                                <span *ngIf="!isDisplayBook(i)" class="glyphicon glyphicon-plus" aria-hidden="true" (click)="toggleShowFullBook(i)"></span>
                                <span *ngIf="isDisplayBook(i)" class="glyphicon glyphicon-minus" aria-hidden="true" (click)="toggleShowFullBook(i)"></span>
                            </td>

                            <td class="text-center">
                                {{(pager.currentPage-1)*10+i+1}}

                            </td>
                            <td>
                                <span *ngIf="!isDisplay(i)">{{bookItem.name}}</span>
                                <input *ngIf="isDisplay(i)" class="form-control" type="text" #bookItemName value="{{bookItem.name}}" name="newAttributeName"
                                />

                            </td>
                            <td>
                                <span *ngIf="!isDisplay(i)">{{bookItem.author}}</span>
                                <input *ngIf="isDisplay(i)" class="form-control" type="text" #bookItemAuthor value="{{bookItem.author}}" name="newAttributeName"
                                />

                            </td>
                            <td>
                                <span *ngIf="!isDisplay(i)">{{bookItem.section}}</span>
                                <input *ngIf="isDisplay(i)" class="form-control" type="text" #bookItemSection value="{{bookItem.section}}" name="newAttributeName"
                                />

                            </td>
                            <td>
                                <span *ngIf="!isDisplay(i)">{{bookItem.sectionrow}}</span>
                                <input *ngIf="isDisplay(i)" class="form-control" type="text" #bookItemRow value="{{bookItem.sectionrow}}" name="newAttributeName"
                                />

                            </td>
                            <td>
                                <div *ngIf="!isDisplay(i)">
                                    {{bookItem.categorys |valuearray}}
                                </div>
                                <angular2-multiselect *ngIf="isDisplay(i)" [data]="dropdownList" [(ngModel)]="selectedItems" #bookItemRow [settings]="dropdownSettings"></angular2-multiselect>
                            </td>
                            <td>
                                <button *ngIf="!isDisplay(i)" (click)="toggleEdit(i)" class="k-button k-grid-edit-command">Edit</button>
                                <button *ngIf="!isDisplay(i)" (click)="toggleDelete(i)" class="k-button k-grid-remove-command">Remove</button>
                                <button *ngIf="isDisplay(i)" (click)="toggleSave(i)" class="k-button k-grid-save-command">Save</button>
                                <button *ngIf="isDisplay(i)" (click)="toggleEdit(i,false)" class="k-button k-grid-cancel-command">Cancel</button>
                            </td>
                        </tr>
                        <tr *ngIf="isDisplayBook(i)">
                            <td colspan="8">
                                <book-details [selectBook]="bookItem"></book-details>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template [ngIf]="addNewItem">
                        <tr>
                            <td colspan="3">
                                <input class="form-control" type="text" [(ngModel)]="newAttribute.name" name="newAttributeName" />
                            </td>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="newAttribute.author" name="newAttributeName" />
                            </td>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="newAttribute.section" name="newAttributeName" />
                            </td>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="newAttribute.sectionrow" name="newAttributeName" />
                            </td>
                            <td>
                                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"></angular2-multiselect>
                            </td>
                            <td>
                                <button class="k-button k-grid-save-command" (click)="toggleAdd()">Add</button>
                                <button class="k-button k-grid-cancel-command" (click)="cancelFieldValue()">Cancel</button>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">

            <div class="row">

                <div class="col col-xs-8">
                    <ul class="pagination" *ngIf="pager.totalPages>1">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">«</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">»</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-xs-4">
                    <div *ngIf="pager.totalPages>1">Page {{pager.currentPage}} of {{pager.totalPages}}</div>
                    <div>Show : [{{pager.startIndex+1}} - {{pager.endIndex+1}}] items of {{pager.totalItems}}</div>

                </div>
            </div>
        </div>
    </div>
</div>